<!DOCTYPE html>
<html>
<head>
  <title>303 乾飯記賬本</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="bill.css">
  <script src="https://cdn.jsdelivr.net/npm/leancloud-storage@4.10.0/dist/av-min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script type="text/javascript" src="bill.js" defer></script>
</head>
<body>
  <form id="form-pay">
    <fieldset>
      <legend class="align-center">記一筆消費</legend>
      <div class="form-item">
        <em>Tips: 提交後等金額重置即保存成功！</em>
      </div>
      <div class="form-item">
        <b class="mr-1">類型</b>
        <select name="pay_type" form="form-pay">
          <option value="0" disabled>汪成 & 張弛</option>
          <option value="1" disabled>汪成 & 李瑞豪</option>
          <option value="2" selected>張弛 & 李瑞豪</option>
          <option value="3" disabled>汪成 & 張弛 & 李瑞豪</option>
        </select>
      </div>
      <div class="form-item">
        <b class="mr-1">付款</b>
        <select name="pay_user" form="form-pay">
          <option value="0" disabled>汪成</option>
          <option value="1">張弛</option>
          <option value="2" selected>李瑞豪</option>
        </select>
      </div>
      <div class="form-item">
        <b class="mr-1">金額</b>
        <input type="number" name="pay" min="0" step="0.01" placeholder="消費金額" required/>
      </div>
      <div class="form-item">
        <b class="mr-1">描述</b>
        <input type="text" name="pay_description" max="50" placeholder="消費描述"/>
      </div>
      <div class="form-btns">
        <button type="reset">取消</button>
        <button type="submit" class="submit">提交</button>
      </div>
    </fieldset>
  </form>

  <div id="bill" v-cloak>
    <fieldset>
      <legend class="align-center">月度消費結算</legend>
      <ul class="month-bill">
        <li class="align-center">
          <b class="mr-1">结算月份</b><input type="month" v-model="month"/>
        </li>
        <p><b>結算(實付 - 应付)</b></p>
        <li v-show="hideWc">汪成: <b>{{ toFixed(monthBill.payUser0 - wcBill) }}</b> 元</li>
        <li>張弛: <b>{{ toFixed(monthBill.payUser1 - zcBill) }}</b> 元</li>
        <li>李瑞豪: <b>{{ toFixed(monthBill.payUser2 - lrhBill) }}</b> 元</li>
        <p><b>實付: {{ monthTotalBill }} 元</b></p>
        <li v-show="hideWc">汪成: <b>{{ toFixed(monthBill.payUser0) }}</b> 元</li>
        <li>張弛: <b>{{ toFixed(monthBill.payUser1) }}</b> 元</li>
        <li>李瑞豪: <b>{{ toFixed(monthBill.payUser2) }}</b> 元</li>
        <p><b>个人消费(应付)</b></p>
        <li v-show="hideWc">汪成: <b>{{ wcBill }}</b> 元</li>
        <li>張弛: <b>{{ zcBill }}</b> 元</li>
        <li>李瑞豪: <b>{{ lrhBill }}</b> 元</li>
    		<div v-show="hideWc">
    		  <p><b>平攤明細</b></p>
    		  <li>汪成,張弛: <b>{{ toFixed(monthBill.payType0) }}</b> 元</li>
    		  <li>汪成,李瑞豪: <b>{{ toFixed(monthBill.payType1) }}</b> 元</li>
    		  <li>張弛,李瑞豪: <b>{{ toFixed(monthBill.payType2) }}</b> 元</li>
    		  <li>汪成,張弛,李瑞豪: <b>{{ toFixed(monthBill.payType3) }}</b> 元</li>
    		</div>
      </ul>
    </fieldset>
    <fieldset>
      <legend class="align-center">歷史消費記錄</legend>
      <ul class="bill-history">
        <li v-for="bill in bills">
          <div>{{ bill.payDt }}</div>
          <p class="bill-description">{{ bill.payDescription }}</p>
          <span>{{ bill.payType }}</span>, 
          消費 <strong>{{ bill.pay }}</strong> 元, 
          <span>付款: {{ bill.payUser }}</span>
        </li>
      </ul>
      <button class="load-btn" v-if="load.more" @click="loadMore">加载更多</button>
    </fieldset>
  </div>

</body>
</html>