[v-cloak]{
  display: none;
}
#form-pay button{
  width: 3rem;
}
fieldset{
  margin: 1rem auto;
  border-radius: 0.25rem;
  width: 330px;
}
.align-center{
  text-align: center;
}
.form-item{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  align-items: center;
}
.mr-1{
  margin-right: 0.25rem;
}
.form-item select,
.form-item input{
  flex-grow: 1;
  height: 30px;
}
.form-btns{
  display: flex;
  justify-content: space-around;
  margin: 1rem 0 0.5rem;
}
ul{
  padding: 0;
  list-style: none;
}
li{
  margin-bottom: 0.5rem;
}
.bill-description{
  margin: 0;
}
.bill-description:not(:empty)::before{
  content: '“';
}
.bill-description:not(:empty)::after{
  content: '”';
}
.load-btn{
  display: block;
  margin: 0 auto;
  width: 5rem;
}